<div>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Breed</th>
                <th>Age</th>
                <th>Weight</th>
                <th>isAdopted?</th>
              </tr>
        </thead>
        <tbody>
            <tr *ngFor="let doggy of dogs" (click)="selectDog(doggy)">
                <td>{{doggy.name}}</td>
                <td>{{doggy.breed}}</td>
                <td>{{doggy.age}}</td>
                <td>{{doggy.weight}}</td>
                <td>{{doggy.isAdopted}}</td>
            </tr>
        </tbody>
    </table>
    <app-dog-list-item *ngIf="selectedDog" [dog]="selectedDog"></app-dog-list-item>
</div>
  